@model HRPayrollManagement.Models.Registration

<h2>View Account Info</h2>
<p>First Name: @Model.FirstName</p>
<div>
    <p><strong>First Name:</strong> @Model.FirstName</p>
    <p><strong>Last Name:</strong> @Model.LastName</p>
    <!-- Add other user information fields here -->
</div>
